*.pyc
*~
*.pureseq
*.seqlen
blastz/test.NLMSAindex
blastz/test.attrDict
blastz/test.idDict
blastz/test.seqDictP
blastz/test.seqIDdict
blastz/test0.build
blastz/test0.idb
blastz/test0.index
blastz/test0.size
blastz/test0.subhead
blastz/test1.build
blastz/test1.idb
blastz/test1.index
blastz/test1.size
blastz/test1.subhead
